<br><br><br>
<div style="text-align:center">
  <h1>
    Welcome to Your Contact Details!
  </h1>
  <img width="180" alt="Angular Logo" src="../assets/images/contactDetails.png">
</div>
<div class="">
  <main>
      <div class="" style="text-align:center">
        <div class="">
        <h3 class="">If You are not Registered Yet Please Sign-up With Your Mobile Number !</h3>
        <button type="submit" class="" id="" 
        (click)="signUp()">Sign-up</button>
        </div>
        <div class="">
            <h3 class="">If You Are Already Registered Please Log-in To Proceed ! </h3>
            <button type="submit" class="" id=""
             (click)="login()">Log-in</button>
        </div>
    </div>
  </main>
</div>